In [338]:
import numpy as np
import pandas as pd
import itertools as it
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('C:/Users/Софулькан/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
770,tt0822847,60000000,78309131,Priest,Paul Bettany|Cam Gigandet|Karl Urban|Lily Coll...,Scott Stewart,Vampire Killer,"In an alternate world, humanity and vampires h...",87,Action|Fantasy|Horror|Science Fiction|Thriller,Screen Gems|Stars Road Entertainment|Buckaroo ...,5/5/2011,5.3,2011
904,tt0288477,35000000,68349884,Ghost Ship,Gabriel Byrne|Julianna Margulies|Desmond Harri...,Steve Beck,Sea Evil,After discovering a passenger ship missing sin...,91,Horror|Mystery|Thriller,Village Roadshow Pictures|NPV Entertainment|Da...,10/25/2002,5.2,2002
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015
1746,tt0414055,25000000,74237563,Elizabeth: The Golden Age,Cate Blanchett|Clive Owen|Geoffrey Rush|Lauren...,Shekhar Kapur,Woman. Warrior. Queen.,This movie is a Sequel to the First Elizabeth ...,114,Drama|History|Romance,Universal Pictures|StudioCanal|Working Title F...,9/9/2007,6.4,2007
1009,tt1748122,16000000,68263166,Moonrise Kingdom,Bruce Willis|Edward Norton|Jared Gilman|Kara H...,Wes Anderson,A tormenting and surprising story of children ...,Set on an island off the coast of New England ...,94,Comedy|Drama|Romance,Scott Rudin Productions|Indian Paintbrush|Amer...,5/16/2012,7.6,2012

In [19]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [394]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data.revenue - data.budget  # колонка с прибылью фильмов

data.release_date = pd.to_datetime(data.release_date) # преобразуем формат даты
data['release_month'] = data.release_date.dt.month  # колонка с месяцем выхода фильма

def fav_genre(genre):  # функция для определения самого частого жанра
    
    count = Counter()  # создаем счетчик
    
    for each in genre.split('|'):  # для каждого жанра в списке проверяем
        
        if each in count:
            count[each] += 1  # если он уже в счетчике, прибавляем 1
        else:
            count[each] = 1  # если нет, добавляем
            
    return count


def pair_actors(actors):  # функция для определения пар актеров, чаще всего снимающихся вместе
    
    cnt = Counter()  # создаем счетчик
    
    pairs = it.combinations(actors.split('|'), 2)  # создаем все возможные комбинации пар актеров
    
    for pair in pairs:  # для каждой пары в списке проверяем
        
        if pair in cnt:
            cnt[pair] += 1  # если она уже в счетчике, прибавляем 1
        else:
            cnt[pair] = 1  # если нет, добавляем
            
    return cnt

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [398]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data.original_title[data.budget == data.budget.max()].iloc[0]

ВАРИАНТ 2

In [314]:
# можно добавлять разные варианты решения
data.groupby(['original_title']).budget.max().sort_values(ascending = False).index[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# поэтому не буду больше его дублировать
# answers['2'] = '...'

In [399]:
answers['2'] = data.original_title[data.runtime == data.runtime.max()].iloc[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [400]:
answers['3'] = data.original_title[data.runtime == data.runtime.min()].iloc[0]

# 4. Какова средняя длительность фильмов?

In [401]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [402]:
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [403]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data.original_title[data.profit == data.profit.max()].iloc[0]

# 7. Какой фильм самый убыточный?

In [404]:
answers['7'] = data.original_title[data.profit == data.profit.min()].iloc[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [405]:
answers['8'] = data.original_title[data.profit > 0].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [406]:
answers['9'] = data[data.release_year == 2008].nlargest(1, 'revenue').original_title.iloc[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [407]:
answers['10'] = data[(data.release_year >= 2012) & (data.release_year <= 2014)].nsmallest(1, 'profit').original_title.iloc[0]

# 11. Какого жанра фильмов больше всего?

In [408]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_11 = data[['genres']].copy()  # копируем одну колонку
data_11.genres = data_11.genres.str.split('|')  # разделяем
answers['11'] = data_11.genres.explode().mode()[0]  # (и властвуем) и выводим самый частый жанр

ВАРИАНТ 2

In [371]:
data_2 = data[['genres']].copy()
most_genre = data_2.genres.apply(fav_genre)  # используем функцию, но зачем?...
most_genre.agg('sum').most_common()[0][0]  # it's alive!

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [409]:
profit_movies = data[['genres', 'profit']].copy()
profit_movies = profit_movies[profit_movies.profit > 0]  # берем только прибыльные фильмы
answers['12'] = profit_movies.genres.str.split('|').explode().value_counts().index[0]  # разделяем жанры и считаем

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [410]:
best_director = data[['director', 'revenue']].copy()
best_director.director = best_director.director.str.split('|')
best_director = best_director.explode('director')
answers['13'] = best_director.groupby(['director']).revenue.sum().idxmax()  # группируем по режиссеру и суммируем сборы

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [411]:
action_director = data[['director', 'genres']].copy()
action_director = action_director[action_director.genres.str.contains('Action')]  # оставляем только те фильмы, в которых есть жанр Action
action_director = action_director.director.str.split('|')  # разделяем режиссеров
answers['14'] = action_director.explode('director').value_counts().index[0]  # и находим кто чаще встречается

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [412]:
data_2012 = data[data.release_year == 2012]  # берем только 2012 год
data_2012 = data_2012[['cast', 'revenue']]
data_2012.cast = data_2012.cast.str.split('|')  # разделяем актеров
data_2012 = data_2012.explode('cast')  # натягиваем сову на глобус
answers['15'] = data_2012.groupby(['cast']).revenue.sum().sort_values(ascending = False).index[0]  # группируем по актерам и суммируем кассу

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [413]:
top_actor = data[data.budget > data.budget.mean()]  # оставляем фильмы с бюджетом выше среднего
top_actor = top_actor[['cast']]
answers['16'] = top_actor.cast.str.split('|').explode().value_counts().index[0]  # находим, кто снимается чаще всего

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [414]:
cage_genre = data[['cast', 'genres']].copy()
cage_genre = cage_genre[cage_genre.cast.str.contains('Nicolas Cage')]  # оставляем фильмы с Кейджем
cage_genre.genres = cage_genre.genres.str.split('|')
cage_genre = cage_genre.explode('genres')  # разделяем жанры
answers['17'] = cage_genre.genres.value_counts().index[0]  # и находим любимый жанр Кейджа

# 18. Самый убыточный фильм от Paramount Pictures

In [415]:
paramount_fail = data[['production_companies', 'profit', 'original_title']].copy()
paramount_fail = paramount_fail[paramount_fail.production_companies.str.contains('Paramount Pictures')]  # только фильмы Paramount
answers['18'] = paramount_fail.original_title[paramount_fail.profit == paramount_fail.profit.min()].iloc[0]  # самый фейловый

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [416]:
best_year = data[['release_year', 'revenue']].copy()
answers['19'] = best_year.groupby('release_year').revenue.sum().idxmax()  # группируем по году, суммируем кассы

# 20. Какой самый прибыльный год для студии Warner Bros?

In [417]:
profit_year = data[['release_year', 'profit', 'production_companies']].copy()
profit_year = profit_year[profit_year.production_companies.str.contains('Warner Bros')]  # оставляем фильмы Warner'ов
answers['20'] = profit_year.groupby('release_year').profit.sum().idxmax()  # группируем по году, суммируем профит

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [418]:
answers['21'] = data.release_month.value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [419]:
summer = data[(data.release_month > 5) & (data.release_month < 9)]  # оставляем только летние фильмы
answers['22'] = summer.release_month.count()  # и считаем

# 23. Для какого режиссера зима – самое продуктивное время года?

In [420]:
winter_director = data[['director', 'release_month']].copy()
winter_director = winter_director[winter_director.release_month.isin([1, 2, 12])]  # оставляем фильмы, которые вышли зимой
winter_director = winter_director.director.str.split('|')  # разделяем режиссеров
answers['23'] = winter_director.explode('director').value_counts().index[0]  # находим продуктивного

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [421]:
long_title = data[['original_title', 'production_companies']].copy()
long_title.original_title = long_title.original_title.apply(lambda x: len(x))  # считаем длину названия
long_title.production_companies = long_title.production_companies.str.split('|')  # разделяем студии
long_title = long_title.explode('production_companies')
answers['24'] = long_title.groupby('production_companies').original_title.mean().idxmax()  # группируем по студиям и сравниваем среднюю длину названия

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [422]:
long_overview = data[['overview', 'production_companies']].copy()
long_overview.overview = long_overview.overview.apply(lambda x: len(x.split()))  # считаем количество слов в описании
long_overview.production_companies = long_overview.production_companies.str.split('|')
long_overview = long_overview.explode('production_companies')
answers['25'] = long_overview.groupby('production_companies').overview.mean().idxmax()  # и находим студию, где в среднем описание длиннее

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [395]:
worst_99 = np.percentile(data.vote_average, 99)  # переменная, где 99 процентов худших фильмов по среднему рейтингу
best_percent_mov = data[['original_title', 'vote_average']].copy()
best_percent_mov = best_percent_mov[best_percent_mov.vote_average >= worst_99]  # оставляем только лучший 1 процент
best_percent_mov.sort_values(by = 'vote_average', ascending = False)  # сортируем по оценке от лучшего к менее лучшему
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [423]:
answers['27'] = data.cast.apply(pair_actors).agg('sum').most_common()[0][0]  # it's alive2!

ВАРИАНТ 2

# Submission

In [424]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [396]:
# и убедиться что ни чего не пропустил)
len(answers)

1

In [0]:
# 27/27, господи, это 27 из 27!